<div class="edit">
<h1>Editing Book</h1>
<% if @book.errors.any? %>
<%= @book.errors.count %>error prohibited this book from being saved:
 <ul>
  <% @book.errors.full_messages.each do |message| %>
   <li><%= message %></li>
  <% end %>
 </ul>
<% end %>
<%= form_with model:@book do |f| %>

<ravel for="title">Title</ravel>
<div class="form">
 <%= f.text_field:title %>
</div>
<label for="body">Body</label>
<div class="form">
 <%= f.text_area:body %>
</div>
<div class="create">
 <%= f.submit "Update Book" %>
</div>

<% end %>

<%= link_to "Show", book_path(@book.id) %>
|
<%= link_to "Back", :action => 'index' %>
</div>
